<h3 class="page-header">I'm the app.component.html</h3>
<label>Alert name one-way binding (input is sent, one-way binding)</label>
<input type="text" class="form-control" (input)="onUpdateAlertName($event)"/>
<label>Alert name two-way binding (input is sent and received, the field/property is two-way binded)</label>
<input type="text" class="form-control" [(ngModel)]="alertName" />
<p>{{isResetAllowed() ? alertName : '---'}}</p>
<button [ngClass]="isResetAllowed() ? 'btn btn-primary' : 'btn btn-default'" [disabled]="!isResetAllowed()" (click)="onAlertCreation()">Add alert</button>
<button [ngStyle]="{backgroundColor: getColor()}" class="btn btn-default" [disabled]="!isResetAllowed()" (click)="resetAlertName()">Reset input</button>
<p>{{alertCreationStatus}}</p>
<p *ngIf="isCreated; else noAlert">Alert "{{alertName}}" created!</p>
<ng-template #noAlert>
  <p>No alert added watching 4 seconds back in time!</p>
</ng-template>
<app-warning-alert *ngFor="let alert of alerts"></app-warning-alert>
