<h3 class="page-header">I'm the app.component.html</h3>
<label>Alert name one-way binding (input is sent)</label>
<input type="text" class="form-control" (input)="onUpdateAlertName($event)"/>
<label>Alert name two-way binding (input is sent and received, the field/property is binded)</label>
<input type="text" class="form-control" [(ngModel)]="alertName" />
<p>{{alertName}}</p>
<button class="btn btn-primary" [disabled]="!isNewMessageAllowed()" (click)="onAlertCreation()">Add alert</button>
<p>{{alertCreationStatus}}</p>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>
